main{
  display: grid;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  top: 20%;
  //height: 500px;
  //vertical-align: center;
}

mat-form-field{
  width: 400px;
}

.fi{
  margin-right: 7px;
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  border-color: gray;
}

label{
  display: flex;
  padding-bottom: 8px;
  font-size: larger;
}

.converter{
  font-size: large;
}

.bold{
  font-weight: bolder;
}
